<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffeeBeans</title>
    <link rel="stylesheet" href="/css/CoffeBeans.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script>
        function fun() {
            alert("Minimal Login Dulu Deq! Kalo Mau Masuk")
        }
    </script>
</head>

<body>
    
        <!-- Search Box -->
    <header>
        <a href="#" class="logo">
            <img src="img/logo.png" alt="">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#customers">Customers</a></li>
            <li><a href="#footer">Contact</a></li>
        </ul>
        <div class="header-icon">
            <i class='bx bx-search' id="search-icon"></i>
        </div>
        <div class="search-box">
            <input type="search" name="" id="" placeholder="Search Here...">
        </div>
    </header>

    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Start your day <br> with coffee</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt explicabo voluptatibus veritatis? Alias ducimus id dignissimos vel accusamus, dolores et cupiditate quo nulla soluta ea ratione accusantium dolor atque vero?</p>
            <a href="/registrasi" class="btn">Join Now</a>
            <strong> Or </strong>
            <a href="/adminLogin" class="btn">Login as Admin</a>
        </div>
        <div class="home-img">
            <img src="img/main.png" alt="">
        </div>
    </section>

    <!-- About -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="img/about.jpg" alt="">
        </div>
        <div class="about-text">
            <h2>Our History</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, culpa id ducimus commodi rerum voluptatibus cum fugiat inventore labore dolorum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquam amet voluptas exercitationem quo beatae quis itaque ad nesciunt! Unde?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, assumenda? Sint deleniti incidunt illo.</p>
            <a href="#" class="btn" onclick="fun()">Learn More</a>
        </div>
    </section>

    <!-- Prosucts -->
    <section class="products" id="products">
        <div class="heading">
            <h2>Our popular products</h2>
        </div>

        <div class="products-container">
            <div class="box">
                <img src="img/p1.png" alt="">
                <h3>Arabica Coffee Beans</h3>
                <div class="content">
                    <span>210k</span>
                    <a href="#" onclick="fun()">Buy Now</a>
                </div>
            </div>
            <div class="box">
                <img src="img/p2.png" alt="">
                <h3>Robusta Coffee Beans</h3>
                <div class="content">
                    <span>198k</span>
                    <a href="#" onclick="fun()">Buy Now</a>
                </div>
            </div><div class="box">
                <img src="img/p3.png" alt="">
                <h3>Liberica Coffee Beans</h3>
                <div class="content">
                    <span>185k</span>
                    <a href="#" onclick="fun()">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="tab">
            <a href="#" class="btn" onclick="fun()">Click here to our products</a>
        </div>
    </section>

    <!-- Customers -->
    <section class="customers" id="customers">
        <div class="heading">
            <h2>Our customer's</h2>
        </div>

        <div class="customers-container">
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium ea, similique praesentium amet doloremque nostrum assumenda beatae a maiores quas, inventore voluptate hic suscipit. Voluptates laboriosam quaerat beatae magnam?</p>
                <h2>Yasin Arafat</h2>
                <img src="img/rev1.jpg" alt="">
            </div>
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium ea, similique praesentium amet doloremque nostrum assumenda beatae a maiores quas, inventore voluptate hic suscipit. Voluptates laboriosam quaerat beatae magnam?</p>
                <h2>Yasin Arafat</h2>
                <img src="img/rev2.jpg" alt="">
            </div>
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium ea, similique praesentium amet doloremque nostrum assumenda beatae a maiores quas, inventore voluptate hic suscipit. Voluptates laboriosam quaerat beatae magnam?</p>
                <h2>Yasin Arafat</h2>
                <img src="img/rev3.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="footer" id="footer">
        <div class="footer-box">
            <h2>Coffee Shop</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate neque veniam est esse iure temporibus expedita soluta iste perferendis. Repellat nam recusandae, deserunt dignissimos rerum quo delectus animi. Adipisci?</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h2>Support</h2>
            <li><a href="#">Products</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Product</a></li>
        </div>
        <div class="footer-box">
            <h2>View Guides</h2>
            <li><a href="#">Features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="#">Our Branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>25 Malang , Indonesia</span>
                <span><i class='bx bxs-phone'></i>+62 811360191</span>
                <span><i class='bx bxs-envelope'></i>coffeeBeans@shop.com</span>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p>&#169; All Right Reserved</p>
    </div>






    <!-- Custom Js -->
    <script src="main.js"></script>

</body>

</html>